<section class="upcoming">
  <div class="container">

    <h2 class="upcoming__title">UPCOMING THIS MONTH</h2>

    <div class="upcoming__wrapper">

      <div class="upcoming__image">
        <img class="movie-img" src="#" alt="movie backdrop" />
      </div>

  
      <div class="upcoming__content">

        <h3 class="movie-title"></h3>

        <ul class="meta">
          <li>Release date: <span class="upcoming-date"></span></li>
          <li>Vote / Votes: <span class="vote"></span></li>
          <li>Popularity: <span class="popularity"></span></li>
          <li>Genre: <span class="genre"></span></li>
        </ul>

        <h4 class="about-title">ABOUT</h4>
        <p class="overview"></p>

        <button class="btn">Add to my Library</button>

      </div>

    </div>
  </div>
</section>
