:root {
  --orange: #f87719;
  --background: #111111;
  --secondary-black: #282828;
  --grey-white-theme: #595959;
  --grey: #b7b7b7;
  --secondary-text: #f8f8f8;
  --white: #ffffff;
  --black: #000000;
  --gradient-primary: linear-gradient(135deg, #ffc226, #f84119);
  --gradient-secondary: linear-gradient(135deg, #f84119, #f89f19);
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
